{% extends "auctions/layout.html" %}

{% block body %}
    <h2 style="font-family: cursive; margin-top: 30px; margin-bottom: 30px;">Categories</h2>
    <div class="card-columns">
        <!-- The css file doesn't work and I don't know why. Suddenly, it stops working
        So, I add this style tag in order to guarantee my customization -->
        {% for category in categories %}
            {% load static %}
            <style>
                .card:hover {
                    background-color: #e1f3ff;
                }

                #bttn {
                    background-color: #ff6600;
                    border: none;
                    margin-bottom: 10px;
                }

                h3 {
                    color: #ff6600;
                    font-family: cursive;
                }
            </style>
            <div class="card">
                <div class="card-body">
                    <center>
                        <p class="card-title"><h3 value="category.id">{{ category }}</h3></p>
                        <p class="card-text">Items: <b>{{ category.quantity }}</b></p>
                        <a href="{{ category.id }}" class="btn btn-primary">View All</a>
                    </center>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}